/* AutoCAD Color Index (ACI) colors */

.pale-intense-red { color: #ff0000; } /* ACI: 1 */
.pale-intense-yellow { color: #ffff00; } /* ACI: 2 */
.pale-intense-green { color: #00ff00; } /* ACI: 3 */
.pale-intense-turquoise { color: #00ffff; } /* ACI: 4 */
.pale-intense-blue { color: #0000ff; } /* ACI: 5 */
.pale-intense-purple { color: #ff00ff; } /* ACI: 6 */
.white { color: #ffffff; } /* ACI: 7 */
.overcast { color: #848284; } /* ACI: 8 */
.light-silver { color: #c6c3c6; } /* ACI: 9 */
.pale-intense-red { color: #ff0000; } /* ACI: 10 */
.pale-clear-red { color: #ff7d7b; } /* ACI: 11 */
.light-intense-red { color: #ce0000; } /* ACI: 12 */
.light-clear-red { color: #ce6563; } /* ACI: 13 */
.soft-intense-red { color: #9c0000; } /* ACI: 14 */
.soft-clear-red { color: #9c4d4a; } /* ACI: 15 */
.intense-red { color: #7b0000; } /* ACI: 16 */
.clear-red { color: #7b3c39; } /* ACI: 17 */
.dark-intense-red { color: #4a0000; } /* ACI: 18 */
.dark-clear-red { color: #4a2421; } /* ACI: 19 */
.pale-intense-vermilion { color: #ff3c00; } /* ACI: 20 */
.pale-clear-vermilion { color: #ff9e7b; } /* ACI: 21 */
.light-intense-vermilion { color: #ce3000; } /* ACI: 22 */
.light-clear-vermilion { color: #ce7d63; } /* ACI: 23 */
.soft-intense-vermilion { color: #9c2400; } /* ACI: 24 */
.soft-clear-vermilion { color: #9c5d4a; } /* ACI: 25 */
.intense-vermilion { color: #7b1c00; } /* ACI: 26 */
.clear-orange-red { color: #7b4d39; } /* ACI: 27 */
.dark-intense-vermilion { color: #4a1000; } /* ACI: 28 */
.dark-clear-vermilion { color: #4a2c21; } /* ACI: 29 */
.pale-intense-orange { color: #ff7d00; } /* ACI: 30 */
.pale-clear-orange { color: #ffbe7b; } /* ACI: 31 */
.light-intense-orange { color: #ce6500; } /* ACI: 32 */
.light-clear-orange { color: #ce9a63; } /* ACI: 33 */
.soft-intense-orange { color: #9c4d00; } /* ACI: 34 */
.soft-clear-orange { color: #9c714a; } /* ACI: 35 */
.intense-orange { color: #7b3c00; } /* ACI: 36 */
.clear-orange { color: #7b5d39; } /* ACI: 37 */
.dark-intense-orange { color: #4a2400; } /* ACI: 38 */
.dark-clear-orange { color: #4a3821; } /* ACI: 39 */
.pale-intense-amber { color: #ffbe00; } /* ACI: 40 */
.pale-clear-golden { color: #ffdf7b; } /* ACI: 41 */
.light-intense-amber { color: #ce9a00; } /* ACI: 42 */
.light-clear-amber { color: #ceb263; } /* ACI: 43 */
.soft-intense-amber { color: #9c7100; } /* ACI: 44 */
.soft-clear-amber { color: #9c864a; } /* ACI: 45 */
.intense-golden { color: #7b5d00; } /* ACI: 46 */
.clear-golden { color: #7b6d39; } /* ACI: 47 */
.dark-intense-golden { color: #4a3800; } /* ACI: 48 */
.dark-clear-golden { color: #4a4121; } /* ACI: 49 */
.pale-intense-yellow { color: #ffff00; } /* ACI: 50 */
.pale-clear-yellow { color: #ffff7b; } /* ACI: 51 */
.light-intense-yellow { color: #cecf00; } /* ACI: 52 */
.light-clear-yellow { color: #cecf63; } /* ACI: 53 */
.soft-intense-yellow { color: #9c9a00; } /* ACI: 54 */
.soft-clear-yellow { color: #9c9a4a; } /* ACI: 55 */
.intense-yellow { color: #7b7d00; } /* ACI: 56 */
.clear-yellow { color: #7b7d39; } /* ACI: 57 */
.deep-intense-yellow { color: #4a4d00; } /* ACI: 58 */
.deep-clear-lime { color: #4a4d21; } /* ACI: 59 */
.pale-intense-chartreuse { color: #bdff00; } /* ACI: 60 */
.pale-clear-chartreuse { color: #deff7b; } /* ACI: 61 */
.light-intense-chartreuse { color: #9ccf00; } /* ACI: 62 */
.light-clear-chartreuse { color: #b5cf63; } /* ACI: 63 */
.soft-intense-chartreuse { color: #739a00; } /* ACI: 64 */
.soft-clear-chartreuse { color: #849a4a; } /* ACI: 65 */
.intense-chartreuse { color: #5a7d00; } /* ACI: 66 */
.clear-chartreuse { color: #6b7d39; } /* ACI: 67 */
.deep-intense-chartreuse { color: #394d00; } /* ACI: 68 */
.deep-clear-chartreuse { color: #424d21; } /* ACI: 69 */
.pale-intense-chartreuse { color: #7bff00; } /* ACI: 70 */
.pale-clear-chartreuse { color: #bdff7b; } /* ACI: 71 */
.light-intense-chartreuse { color: #63cf00; } /* ACI: 72 */
.light-clear-chartreuse { color: #9ccf63; } /* ACI: 73 */
.soft-intense-chartreuse { color: #4a9a00; } /* ACI: 74 */
.soft-clear-chartreuse { color: #739a4a; } /* ACI: 75 */
.intense-chartreuse { color: #397d00; } /* ACI: 76 */
.clear-chartreuse { color: #5a7d39; } /* ACI: 77 */
.deep-intense-chartreuse { color: #214d00; } /* ACI: 78 */
.deep-clear-chartreuse { color: #394d21; } /* ACI: 79 */
.pale-intense-green { color: #39ff00; } /* ACI: 80 */
.pale-clear-green { color: #9cff7b; } /* ACI: 81 */
.light-intense-green { color: #31cf00; } /* ACI: 82 */
.light-clear-green { color: #7bcf63; } /* ACI: 83 */
.soft-intense-green { color: #219a00; } /* ACI: 84 */
.soft-clear-green { color: #5a9a4a; } /* ACI: 85 */
.intense-green { color: #187d00; } /* ACI: 86 */
.clear-green { color: #4a7d39; } /* ACI: 87 */
.deep-intense-green { color: #104d00; } /* ACI: 88 */
.deep-clear-green { color: #294d21; } /* ACI: 89 */
.pale-intense-green { color: #00ff00; } /* ACI: 90 */
.pale-clear-green { color: #7bff7b; } /* ACI: 91 */
.light-intense-green { color: #00cf00; } /* ACI: 92 */
.light-clear-green { color: #63cf63; } /* ACI: 93 */
.soft-intense-green { color: #009a00; } /* ACI: 94 */
.soft-clear-green { color: #4a9a4a; } /* ACI: 95 */
.intense-green { color: #007d00; } /* ACI: 96 */
.clear-green { color: #397d39; } /* ACI: 97 */
.deep-intense-green { color: #004d00; } /* ACI: 98 */
.deep-clear-green { color: #214d21; } /* ACI: 99 */
.pale-intense-emerald { color: #00ff39; } /* ACI: 100 */
.pale-clear-emerald { color: #7bff9c; } /* ACI: 101 */
.light-intense-emerald { color: #00cf31; } /* ACI: 102 */
.light-clear-emerald { color: #63cf7b; } /* ACI: 103 */
.soft-intense-emerald { color: #009a21; } /* ACI: 104 */
.soft-clear-emerald { color: #4a9a5a; } /* ACI: 105 */
.intense-emerald { color: #007d18; } /* ACI: 106 */
.clear-emerald { color: #397d4a; } /* ACI: 107 */
.deep-intense-emerald { color: #004d10; } /* ACI: 108 */
.deep-clear-emerald { color: #214d29; } /* ACI: 109 */
.pale-intense-spring-green { color: #00ff7b; } /* ACI: 110 */
.pale-clear-spring-green { color: #7bffbd; } /* ACI: 111 */
.light-intense-spring-green { color: #00cf63; } /* ACI: 112 */
.light-clear-spring-green { color: #63cf9c; } /* ACI: 113 */
.soft-intense-spring-green { color: #009a4a; } /* ACI: 114 */
.soft-clear-spring-green { color: #4a9a73; } /* ACI: 115 */
.intense-spring-green { color: #007d39; } /* ACI: 116 */
.clear-spring-green { color: #397d5a; } /* ACI: 117 */
.deep-intense-spring-green { color: #004d21; } /* ACI: 118 */
.deep-clear-spring-green { color: #214d39; } /* ACI: 119 */
.pale-intense-turquoise { color: #00ffbd; } /* ACI: 120 */
.pale-clear-turquoise { color: #7bffde; } /* ACI: 121 */
.light-intense-turquoise { color: #00cf9c; } /* ACI: 122 */
.light-clear-turquoise { color: #63cfb5; } /* ACI: 123 */
.soft-intense-turquoise { color: #009a73; } /* ACI: 124 */
.soft-clear-turquoise { color: #4a9a84; } /* ACI: 125 */
.intense-turquoise { color: #007d5a; } /* ACI: 126 */
.clear-turquoise { color: #397d6b; } /* ACI: 127 */
.deep-intense-turquoise { color: #004d39; } /* ACI: 128 */
.deep-clear-turquoise { color: #214d42; } /* ACI: 129 */
.pale-intense-turquoise { color: #00ffff; } /* ACI: 130 */
.pale-clear-turquoise { color: #7bffff; } /* ACI: 131 */
.light-intense-turquoise { color: #00cfce; } /* ACI: 132 */
.light-clear-turquoise { color: #63cfce; } /* ACI: 133 */
.soft-intense-cyan { color: #009a9c; } /* ACI: 134 */
.soft-clear-cyan { color: #4a9a9c; } /* ACI: 135 */
.intense-turquoise { color: #007d7b; } /* ACI: 136 */
.clear-turquoise { color: #397d7b; } /* ACI: 137 */
.deep-intense-turquoise { color: #004d4a; } /* ACI: 138 */
.deep-clear-turquoise { color: #214d4a; } /* ACI: 139 */
.pale-intense-cyan { color: #00beff; } /* ACI: 140 */
.pale-clear-cyan { color: #7bdfff; } /* ACI: 141 */
.light-intense-cyan { color: #009ace; } /* ACI: 142 */
.light-clear-cyan { color: #63b2ce; } /* ACI: 143 */
.soft-intense-cyan { color: #00719c; } /* ACI: 144 */
.soft-intense-indigo { color: #4a0d9c; } /* ACI: 145 */
.intense-cyan { color: #005d7b; } /* ACI: 146 */
.clear-cyan { color: #396d7b; } /* ACI: 147 */
.dark-intense-cyan { color: #00384a; } /* ACI: 148 */
.dark-clear-cyan { color: #21414a; } /* ACI: 149 */
.pale-intense-azure { color: #007dff; } /* ACI: 150 */
.pale-clear-azure { color: #7bbeff; } /* ACI: 151 */
.light-intense-azure { color: #0065ce; } /* ACI: 152 */
.light-clear-azure { color: #639ace; } /* ACI: 153 */
.soft-intense-azure { color: #004d9c; } /* ACI: 154 */
.soft-clear-azure { color: #4a719c; } /* ACI: 155 */
.intense-azure { color: #003c7b; } /* ACI: 156 */
.clear-azure { color: #395d7b; } /* ACI: 157 */
.dark-intense-azure { color: #00244a; } /* ACI: 158 */
.dark-clear-azure { color: #21384a; } /* ACI: 159 */
.pale-intense-cerulean { color: #003cff; } /* ACI: 160 */
.pale-clear-cerulean { color: #7b9eff; } /* ACI: 161 */
.light-intense-cerulean { color: #0030ce; } /* ACI: 162 */
.light-clear-cerulean { color: #637dce; } /* ACI: 163 */
.soft-intense-cerulean { color: #00249c; } /* ACI: 164 */
.soft-clear-cerulean { color: #4a5d9c; } /* ACI: 165 */
.intense-cerulean { color: #001c7b; } /* ACI: 166 */
.clear-cerulean { color: #394d7b; } /* ACI: 167 */
.dark-intense-cerulean { color: #00104a; } /* ACI: 168 */
.dark-clear-cerulean { color: #212c4a; } /* ACI: 169 */
.pale-intense-blue { color: #0000ff; } /* ACI: 170 */
.pale-clear-blue { color: #7b7dff; } /* ACI: 171 */
.light-intense-blue { color: #0000ce; } /* ACI: 172 */
.light-clear-blue { color: #6365ce; } /* ACI: 173 */
.soft-intense-blue { color: #00009c; } /* ACI: 174 */
.soft-clear-blue { color: #4a4d9c; } /* ACI: 175 */
.intense-blue { color: #00007b; } /* ACI: 176 */
.clear-blue { color: #393c7b; } /* ACI: 177 */
.dark-intense-blue { color: #00004a; } /* ACI: 178 */
.dark-clear-blue { color: #21244a; } /* ACI: 179 */
.pale-intense-indigo { color: #3900ff; } /* ACI: 180 */
.pale-clear-indigo { color: #9c7dff; } /* ACI: 181 */
.light-intense-indigo { color: #3100ce; } /* ACI: 182 */
.light-clear-indigo { color: #7b65ce; } /* ACI: 183 */
.soft-intense-indigo { color: #21009c; } /* ACI: 184 */
.soft-clear-blue { color: #5a4d9c; } /* ACI: 185 */
.intense-blue { color: #18007b; } /* ACI: 186 */
.clear-indigo { color: #4a3c7b; } /* ACI: 187 */
.dark-intense-indigo { color: #10004a; } /* ACI: 188 */
.dark-clear-blue { color: #29244a; } /* ACI: 189 */
.pale-intense-indigo { color: #7b00ff; } /* ACI: 190 */
.pale-clear-indigo { color: #bd7dff; } /* ACI: 191 */
.light-intense-indigo { color: #6300ce; } /* ACI: 192 */
.light-clear-violet { color: #9c65ce; } /* ACI: 193 */
.soft-intense-indigo { color: #4a009c; } /* ACI: 194 */
.soft-clear-indigo { color: #734d9c; } /* ACI: 195 */
.intense-indigo { color: #39007b; } /* ACI: 196 */
.clear-indigo { color: #5a3c7b; } /* ACI: 197 */
.dark-intense-indigo { color: #21004a; } /* ACI: 198 */
.dark-clear-violet { color: #39244a; } /* ACI: 199 */
.pale-intense-violet { color: #bd00ff; } /* ACI: 200 */
.pale-clear-blue { color: #7a7dff; } /* ACI: 201 */
.light-intense-violet { color: #9c00ce; } /* ACI: 202 */
.light-clear-violet { color: #b565ce; } /* ACI: 203 */
.soft-intense-violet { color: #73009c; } /* ACI: 204 */
.soft-clear-violet { color: #844d9c; } /* ACI: 205 */
.intense-violet { color: #5a007b; } /* ACI: 206 */
.clear-violet { color: #6b3c7b; } /* ACI: 207 */
.dark-intense-violet { color: #39004a; } /* ACI: 208 */
.dark-clear-violet { color: #42244a; } /* ACI: 209 */
.pale-intense-purple { color: #ff00ff; } /* ACI: 210 */
.pale-clear-purple { color: #ff7dff; } /* ACI: 211 */
.light-intense-purple { color: #ce00ce; } /* ACI: 212 */
.light-clear-purple { color: #ce65ce; } /* ACI: 213 */
.soft-intense-purple { color: #9c009c; } /* ACI: 214 */
.soft-clear-purple { color: #9c4d9c; } /* ACI: 215 */
.intense-purple { color: #7b007b; } /* ACI: 216 */
.clear-purple { color: #7b3c7b; } /* ACI: 217 */
.dark-intense-purple { color: #4a004a; } /* ACI: 218 */
.dark-clear-purple { color: #4a244a; } /* ACI: 219 */
.pale-intense-magenta { color: #ff00bd; } /* ACI: 220 */
.pale-clear-magenta { color: #ff7dde; } /* ACI: 221 */
.light-intense-magenta { color: #ce009c; } /* ACI: 222 */
.light-clear-magenta { color: #ce65b5; } /* ACI: 223 */
.soft-intense-magenta { color: #9c0073; } /* ACI: 224 */
.soft-clear-magenta { color: #9c4d84; } /* ACI: 225 */
.intense-magenta { color: #7b005a; } /* ACI: 226 */
.clear-magenta { color: #7b3c6b; } /* ACI: 227 */
.dark-intense-magenta { color: #4a0039; } /* ACI: 228 */
.dark-clear-magenta { color: #4a2442; } /* ACI: 229 */
.pale-intense-fuchsia { color: #ff007b; } /* ACI: 230 */
.pale-clear-fuchsia { color: #ff7dbd; } /* ACI: 231 */
.light-intense-fuchsia { color: #ce0063; } /* ACI: 232 */
.light-clear-fuchsia { color: #ce659c; } /* ACI: 233 */
.soft-intense-fuchsia { color: #9c004a; } /* ACI: 234 */
.soft-clear-fuchsia { color: #9c4d73; } /* ACI: 235 */
.intense-fuchsia { color: #7b0039; } /* ACI: 236 */
.clear-fuchsia { color: #7b3c5a; } /* ACI: 237 */
.dark-intense-fuchsia { color: #4a0021; } /* ACI: 238 */
.dark-clear-fuchsia { color: #4a2439; } /* ACI: 239 */
.pale-intense-crimson { color: #ff0039; } /* ACI: 240 */
.pale-clear-crimson { color: #ff7d9c; } /* ACI: 241 */
.light-intense-crimson { color: #ce0031; } /* ACI: 242 */
.light-clear-crimson { color: #ce657b; } /* ACI: 243 */
.soft-intense-crimson { color: #9c0021; } /* ACI: 244 */
.soft-clear-crimson { color: #9c4d5a; } /* ACI: 245 */
.intense-crimson { color: #7b0018; } /* ACI: 246 */
.clear-crimson { color: #7b3c4a; } /* ACI: 247 */
.dark-intense-crimson { color: #4a0010; } /* ACI: 248 */
.dark-clear-crimson { color: #4a2429; } /* ACI: 249 */
.slate { color: #313031; } /* ACI: 250 */
.smoke { color: #5a595a; } /* ACI: 251 */
.overcast { color: #848684; } /* ACI: 252 */
.silver { color: #adaead; } /* ACI: 253 */
.pearl { color: #d6d7d6; } /* ACI: 254 */
.white { color: #ffffff; } /* ACI: 255 */
