.deep-blue { background-color: rgb(0, 63, 255); }
.light-blue { background-color: rgb(127, 159, 255); }
.navy-blue { background-color: rgb(0, 41, 165); }
.steel-blue { background-color: rgb(82, 103, 165); }
.dark-navy { background-color: rgb(0, 31, 127); }
.slate-blue { background-color: rgb(63, 79, 127); }
.midnight-blue { background-color: rgb(0, 19, 76); }
.denim-blue { background-color: rgb(38, 47, 126); }
.dark-midnight-blue { background-color: rgb(0, 9, 38); }
.deep-indigo { background-color: rgb(19, 23, 88); }
.pure-blue { background-color: rgb(0, 0, 255); }
.sky-blue { background-color: rgb(127, 127, 255); }
.royal-blue { background-color: rgb(0, 0, 165); }
.cornflower-blue { background-color: rgb(82, 82, 165); }
.sapphire-blue { background-color: rgb(0, 0, 127); }
.periwinkle { background-color: rgb(63, 63, 127); }
.dark-royal-blue { background-color: rgb(0, 0, 76); }
.twilight-blue { background-color: rgb(38, 38, 126); }
.deep-navy { background-color: rgb(0, 0, 38); }
.midnight-indigo { background-color: rgb(19, 19, 88); }
.electric-purple { background-color: rgb(63, 0, 255); }
.lavender { background-color: rgb(159, 127, 255); }
.deep-purple { background-color: rgb(41, 0, 165); }
.amethyst { background-color: rgb(103, 82, 165); }
.royal-purple { background-color: rgb(31, 0, 127); }
.plum { background-color: rgb(79, 63, 127); }
.dark-violet { background-color: rgb(19, 0, 76); }
.grape { background-color: rgb(47, 38, 126); }
.deep-violet { background-color: rgb(9, 0, 38); }
.dark-plum { background-color: rgb(23, 19, 88); }
.fuchsia { background-color: rgb(127, 0, 255); }
.orchid { background-color: rgb(191, 127, 255); }
.magenta { background-color: rgb(82, 0, 165); }
.mauve { background-color: rgb(124, 82, 165); }
.deep-magenta { background-color: rgb(63, 0, 127); }
.mulberry { background-color: rgb(95, 63, 127); }
.dark-fuchsia { background-color: rgb(38, 0, 76); }
.deep-orchid { background-color: rgb(57, 38, 126); }
.dark-magenta { background-color: rgb(19, 0, 38); }
.deep-mulberry { background-color: rgb(28, 19, 88); }