.magenta { background-color: rgb(255, 0, 63); }
.light-pink { background-color: rgb(255, 127, 159); }
.deep-red { background-color: rgb(165, 0, 41); }
.muted-red { background-color: rgb(165, 82, 103); }
.crimson { background-color: rgb(127, 0, 31); }
.dusty-rose { background-color: rgb(127, 63, 79); }
.maroon { background-color: rgb(76, 0, 19); }
.dark-mauve { background-color: rgb(76, 38, 47); }
.dark-burgundy { background-color: rgb(38, 0, 9); }
.deep-burgundy { background-color: rgb(88, 19, 23); }
.black { background-color: rgb(0, 0, 0); }
.dark-gray { background-color: rgb(101, 101, 101); }
.medium-gray { background-color: rgb(102, 102, 102); }
.light-gray { background-color: rgb(153, 153, 153); }
.very-light-gray { background-color: rgb(204, 204, 204); }
.white { background-color: rgb(255, 255, 255); }