.magenta { background-color: rgb(191, 0, 255); }
.light-magenta { background-color: rgb(223, 127, 255); }
.dark-magenta { background-color: rgb(124, 0, 165); }
.muted-magenta { background-color: rgb(145, 82, 165); }
.deep-purple { background-color: rgb(95, 0, 127); }
.muted-purple { background-color: rgb(111, 63, 127); }
.dark-purple { background-color: rgb(57, 0, 76); }
.muted-dark-purple { background-color: rgb(66, 38, 76); }
.very-dark-purple { background-color: rgb(28, 0, 38); }
.deep-magenta { background-color: rgb(88, 19, 88); }
.fuchsia { background-color: rgb(255, 0, 255); }
.light-fuchsia { background-color: rgb(255, 127, 255); }
.dark-fuchsia { background-color: rgb(165, 0, 165); }
.muted-fuchsia { background-color: rgb(165, 82, 165); }
.deep-fuchsia { background-color: rgb(127, 0, 127); }
.muted-deep-fuchsia { background-color: rgb(127, 63, 127); }
.dark-plum { background-color: rgb(76, 0, 76); }
.muted-plum { background-color: rgb(76, 38, 76); }
.very-dark-plum { background-color: rgb(38, 0, 38); }
.deep-magenta-2 { background-color: rgb(88, 19, 88); }
.hot-pink { background-color: rgb(255, 0, 191); }
.light-hot-pink { background-color: rgb(255, 127, 223); }
.dark-hot-pink { background-color: rgb(165, 0, 124); }
.muted-hot-pink { background-color: rgb(165, 82, 145); }
.deep-pink { background-color: rgb(127, 0, 95); }
.muted-deep-pink { background-color: rgb(127, 63, 111); }
.dark-raspberry { background-color: rgb(76, 0, 57); }
.muted-raspberry { background-color: rgb(76, 38, 66); }
.very-dark-raspberry { background-color: rgb(38, 0, 28); }
.deep-magenta-3 { background-color: rgb(88, 19, 88); }
.bright-pink { background-color: rgb(255, 0, 127); }
.light-bright-pink { background-color: rgb(255, 127, 191); }
.dark-bright-pink { background-color: rgb(165, 0, 82); }
.muted-bright-pink { background-color: rgb(165, 82, 124); }
.deep-rose { background-color: rgb(127, 0, 63); }
.muted-rose { background-color: rgb(127, 63, 95); }
.dark-rose { background-color: rgb(76, 0, 38); }
.muted-dark-rose { background-color: rgb(76, 38, 57); }
.very-dark-rose { background-color: rgb(38, 0, 19); }
.deep-burgundy { background-color: rgb(88, 19, 28); }