.red { background-color: rgb(255, 0, 0); }
.yellow { background-color: rgb(255, 255, 0); }
.green { background-color: rgb(0, 255, 0); }
.cyan { background-color: rgb(0, 255, 255); }
.blue { background-color: rgb(0, 0, 255); }
.magenta { background-color: rgb(255, 0, 255); }
.black { background-color: rgb(0, 0, 0); }
.gray { background-color: rgb(128, 128, 128); }
.light-gray { background-color: rgb(192, 192, 192); }
.bright-red { background-color: rgb(255, 0, 0); }
.light-pink { background-color: rgb(255, 127, 127); }
.crimson { background-color: rgb(165, 0, 0); }
.indian-red { background-color: rgb(165, 82, 82); }
.dark-red { background-color: rgb(127, 0, 0); }
.rose-taupe { background-color: rgb(127, 63, 63); }
.dark-maroon { background-color: rgb(76, 0, 0); }
.dark-brown { background-color: rgb(76, 38, 38); }
.very-dark-maroon { background-color: rgb(38, 0, 0); }
.very-dark-brown { background-color: rgb(38, 19, 19); }
.vermilion { background-color: rgb(255, 63, 0); }
.light-coral { background-color: rgb(255, 159, 127); }
.dark-vermilion { background-color: rgb(165, 41, 0); }
.terra-cotta { background-color: rgb(165, 103, 82); }
.mahogany { background-color: rgb(127, 31, 0); }
.rust { background-color: rgb(127, 79, 63); }
.burnt-orange { background-color: rgb(191, 87, 0); }
.raw-sienna { background-color: rgb(191, 127, 63); }
.dark-brown-orange { background-color: rgb(127, 58, 0); }
.brown { background-color: rgb(127, 85, 42); }
.bright-orange { background-color: rgb(255, 127, 0); }
.light-orange { background-color: rgb(255, 191, 127); }
.dark-orange { background-color: rgb(165, 82, 0); }
.tan { background-color: rgb(165, 124, 82); }
.deep-orange { background-color: rgb(127, 63, 0); }
.light-brown { background-color: rgb(127, 95, 63); }
.burnt-sienna { background-color: rgb(138, 54, 15); }
.medium-brown { background-color: rgb(138, 92, 54); }
.dark-sienna { background-color: rgb(92, 36, 10); }
.chocolate-brown { background-color: rgb(92, 61, 30); }