.red { background-color: rgb(255, 0, 0); }
.yellow { background-color: rgb(255, 255, 0); }
.green { background-color: rgb(0, 255, 0); }
.cyan { background-color: rgb(0, 255, 255); }
.blue { background-color: rgb(0, 0, 255); }
.magenta { background-color: rgb(255, 0, 255); }
.white { background-color: rgb(0, 0, 0); }
.gray { background-color: rgb(128, 128, 128); }
.light-gray { background-color: rgb(192, 192, 192); }
.pure-red { background-color: rgb(255, 0, 0); }
.light-red { background-color: rgb(255, 127, 127); }
.dark-red { background-color: rgb(165, 0, 0); }
.medium-red { background-color: rgb(165, 82, 82); }
.deep-red { background-color: rgb(127, 0, 0); }
.soft-red { background-color: rgb(127, 63, 63); }
.maroon { background-color: rgb(76, 0, 0); }
.brownish-red { background-color: rgb(76, 38, 38); }
.dark-maroon { background-color: rgb(38, 0, 0); }
.deep-brownish-red { background-color: rgb(38, 19, 19); }
.orange-red { background-color: rgb(255, 63, 0); }
.light-orange-red { background-color: rgb(255, 159, 127); }
.dark-orange-red { background-color: rgb(165, 41, 0); }
.medium-orange-red { background-color: rgb(165, 103, 82); }
.deep-orange-red { background-color: rgb(127, 31, 0); }
.soft-orange-red { background-color: rgb(127, 79, 63); }
.burnt-orange { background-color: rgb(191, 87, 0); }
.brownish-orange { background-color: rgb(191, 127, 63); }
.dark-burnt-orange { background-color: rgb(127, 58, 0); }
.deep-brownish-orange { background-color: rgb(127, 85, 42); }
.orange { background-color: rgb(255, 127, 0); }
.light-orange { background-color: rgb(255, 191, 127); }
.dark-orange { background-color: rgb(165, 82, 0); }
.medium-orange { background-color: rgb(165, 124, 82); }
.deep-orange { background-color: rgb(127, 63, 0); }
.soft-orange { background-color: rgb(127, 95, 63); }
.burnt-sienna { background-color: rgb(138, 54, 15); }
.brownish-sienna { background-color: rgb(138, 92, 54); }
.dark-burnt-sienna { background-color: rgb(92, 36, 10); }
.deep-brownish-sienna { background-color: rgb(92, 61, 30); }
.pure-yellow { background-color: rgb(255, 255, 0); }
.light-yellow { background-color: rgb(255, 255, 127); }
.dark-yellow { background-color: rgb(165, 165, 0); }
.medium-yellow { background-color: rgb(165, 165, 82); }
.deep-yellow { background-color: rgb(127, 127, 0); }
.soft-yellow { background-color: rgb(127, 127, 63); }
.burnt-yellow { background-color: rgb(204, 119, 34); }
.brownish-yellow { background-color: rgb(204, 153, 102); }
.dark-burnt-yellow { background-color: rgb(153, 89, 25); }
.deep-brownish-yellow { background-color: rgb(153, 114, 76); }
.pure-green { background-color: rgb(0, 255, 0); }
.light-green { background-color: rgb(127, 255, 127); }
.dark-green { background-color: rgb(0, 165, 0); }
.medium-green { background-color: rgb(82, 165, 82); }
.deep-green { background-color: rgb(0, 127, 0); }
.soft-green { background-color: rgb(63, 127, 63); }
.burnt-green { background-color: rgb(76, 153, 0); }
.brownish-green { background-color: rgb(127, 191, 127); }
.dark-burnt-green { background-color: rgb(51, 102, 0); }
.deep-brownish-green { background-color: rgb(89, 127, 89); }
.pure-cyan { background-color: rgb(0, 255, 255); }
.light-cyan { background-color: rgb(127, 255, 255); }
.dark-cyan { background-color: rgb(0, 165, 165); }
.medium-cyan { background-color: rgb(82, 165, 165); }
.deep-cyan { background-color: rgb(0, 127, 127); }
.soft-cyan { background-color: rgb(63, 127, 127); }
.burnt-cyan { background-color: rgb(0, 153, 153); }
.brownish-cyan { background-color: rgb(127, 191, 191); }
.dark-burnt-cyan { background-color: rgb(0, 102, 102); }
.deep-brownish-cyan { background-color: rgb(89, 127, 127); }
.pure-blue { background-color: rgb(0, 0, 255); }
.light-blue { background-color: rgb(127, 127, 255); }
.dark-blue { background-color: rgb(0, 0, 165); }
.medium-blue { background-color: rgb(82, 82, 165); }
.deep-blue { background-color: rgb(0, 0, 127); }
.soft-blue { background-color: rgb(63, 63, 127); }
.burnt-blue { background-color: rgb(0, 0, 153); }
.brownish-blue { background-color: rgb(127, 127, 191); }
.dark-burnt-blue { background-color: rgb(0, 0, 102); }
.deep-brownish-blue { background-color: rgb(89, 89, 127); }
.pure-magenta { background-color: rgb(255, 0, 255); }
.light-magenta { background-color: rgb(255, 127, 255); }
.dark-magenta { background-color: rgb(165, 0, 165); }
.medium-magenta { background-color: rgb(165, 82, 165); }
.deep-magenta { background-color: rgb(127, 0, 127); }
.soft-magenta { background-color: rgb(127, 63, 127); }
.burnt-magenta { background-color: rgb(153, 0, 153); }
.brownish-magenta { background-color: rgb(191, 127, 191); }
.dark-burnt-magenta { background-color: rgb(102, 0, 102); }
.deep-brownish-magenta { background-color: rgb(127, 89, 127); }
.red-magenta { background-color: rgb(255, 0, 127); }
.light-red-magenta { background-color: rgb(255, 127, 191); }
.dark-red-magenta { background-color: rgb(165, 0, 82); }
.medium-red-magenta { background-color: rgb(165, 82, 124); }
.deep-red-magenta { background-color: rgb(127, 0, 63); }
.soft-red-magenta { background-color: rgb(127, 63, 95); }
.burnt-red-magenta { background-color: rgb(153, 0, 76); }
.brownish-red-magenta { background-color: rgb(191, 127, 153); }
.dark-burnt-red-magenta { background-color: rgb(102, 0, 51); }
.deep-brownish-red-magenta { background-color: rgb(127, 89, 102); }
.red-cyan { background-color: rgb(255, 0, 63); }
.light-red-cyan { background-color: rgb(255, 127, 159); }
.dark-red-cyan { background-color: rgb(165, 0, 41); }
.medium-red-cyan { background-color: rgb(165, 82, 103); }
.deep-red-cyan { background-color: rgb(127, 0, 31); }
.soft-red-cyan { background-color: rgb(127, 63, 79); }
.burnt-red-cyan { background-color: rgb(153, 0, 38); }
.brownish-red-cyan { background-color: rgb(191, 127, 143); }
.dark-burnt-red-cyan { background-color: rgb(102, 0, 25); }
.deep-brownish-red-cyan { background-color: rgb(127, 89, 95); }
.red-blue { background-color: rgb(255, 0, 255); }
.light-red-blue { background-color: rgb(255, 127, 255); }
.dark-red-blue { background-color: rgb(165, 0, 165); }
.medium-red-blue { background-color: rgb(165, 82, 165); }
.deep-red-blue { background-color: rgb(127, 0, 127); }
.soft-red-blue { background-color: rgb(127, 63, 127); }
.burnt-red-blue { background-color: rgb(153, 0, 153); }
.brownish-red-blue { background-color: rgb(191, 127, 191); }
.dark-burnt-red-blue { background-color: rgb(102, 0, 102); }
.deep-brownish-red-blue { background-color: rgb(127, 89, 127); }
.red-yellow { background-color: rgb(255, 0, 191); }
.light-red-yellow { background-color: rgb(255, 127, 223); }
.dark-red-yellow { background-color: rgb(165, 0, 124); }
.medium-red-yellow { background-color: rgb(165, 82, 145); }
.deep-red-yellow { background-color: rgb(127, 0, 95); }
.soft-red-yellow { background-color: rgb(127, 63, 111); }
.burnt-red-yellow { background-color: rgb(153, 0, 76); }
.brownish-red-yellow { background-color: rgb(191, 127, 153); }
.dark-burnt-red-yellow { background-color: rgb(102, 0, 51); }
.deep-brownish-red-yellow { background-color: rgb(127, 89, 102); }
.green-magenta { background-color: rgb(255, 0, 127); }
.light-green-magenta { background-color: rgb(255, 127, 191); }
.dark-green-magenta { background-color: rgb(165, 0, 82); }
.medium-green-magenta { background-color: rgb(165, 82, 124); }
.deep-green-magenta { background-color: rgb(127, 0, 63); }
.soft-green-magenta { background-color: rgb(127, 63, 95); }
.burnt-green-magenta { background-color: rgb(153, 0, 76); }
.brownish-green-magenta { background-color: rgb(191, 127, 153); }
.dark-burnt-green-magenta { background-color: rgb(102, 0, 51); }
.deep-brownish-green-magenta { background-color: rgb(127, 89, 102); }
.green-cyan { background-color: rgb(0, 255, 255); }
.light-green-cyan { background-color: rgb(127, 255, 255); }
.dark-green-cyan { background-color: rgb(0, 165, 165); }
.medium-green-cyan { background-color: rgb(82, 165, 165); }
.deep-green-cyan { background-color: rgb(0, 127, 127); }
.soft-green-cyan { background-color: rgb(63, 127, 127); }
.burnt-green-cyan { background-color: rgb(0, 153, 153); }
.brownish-green-cyan { background-color: rgb(127, 191, 191); }
.dark-burnt-green-cyan { background-color: rgb(0, 102, 102); }
.deep-brownish-green-cyan { background-color: rgb(89, 127, 127); }
.green-blue { background-color: rgb(0, 127, 255); }
.light-green-blue { background-color: rgb(127, 191, 255); }
.dark-green-blue { background-color: rgb(0, 82, 165); }
.medium-green-blue { background-color: rgb(82, 124, 165); }
.deep-green-blue { background-color: rgb(0, 63, 127); }
.soft-green-blue { background-color: rgb(63, 95, 127); }
.burnt-green-blue { background-color: rgb(0, 38, 76); }
.brownish-green-blue { background-color: rgb(38, 57, 126); }
.dark-burnt-green-blue { background-color: rgb(0, 19, 38); }
.deep-brownish-green-blue { background-color: rgb(19, 28, 88); }
.dark-burnt-green-blue { background-color: rgb(0, 63, 255); }
.light-red-cyan { background-color: rgb(127, 159, 255); }
.dark-orange-red { background-color: rgb(0, 41, 165); }
.medium-orange-red { background-color: rgb(82, 103, 165); }
.deep-orange-red { background-color: rgb(0, 31, 127); }
.soft-orange-red { background-color: rgb(63, 79, 127); }
.burnt-orange { background-color: rgb(0, 19, 76); }
.brownish-orange { background-color: rgb(38, 47, 126); }
.dark-burnt-orange { background-color: rgb(0, 9, 38); }
.deep-brownish-orange { background-color: rgb(19, 23, 88); }
.blue { background-color: rgb(0, 0, 255); }
.light-blue { background-color: rgb(127, 127, 255); }
.dark-blue { background-color: rgb(0, 0, 165); }
.medium-blue { background-color: rgb(82, 82, 165); }
.deep-blue { background-color: rgb(0, 0, 127); }
.soft-blue { background-color: rgb(63, 63, 127); }
.burnt-blue { background-color: rgb(0, 0, 76); }
.brownish-blue { background-color: rgb(38, 38, 126); }
.dark-burnt-blue { background-color: rgb(0, 0, 38); }
.deep-brownish-blue { background-color: rgb(19, 19, 88); }
.magenta { background-color: rgb(63, 0, 255); }
.light-magenta { background-color: rgb(159, 127, 255); }
.dark-magenta { background-color: rgb(41, 0, 165); }
.medium-magenta { background-color: rgb(103, 82, 165); }
.deep-magenta { background-color: rgb(31, 0, 127); }
.soft-magenta { background-color: rgb(79, 63, 127); }
.burnt-magenta { background-color: rgb(19, 0, 76); }
.brownish-magenta { background-color: rgb(47, 38, 126); }
.dark-burnt-magenta { background-color: rgb(9, 0, 38); }
.deep-brownish-magenta { background-color: rgb(23, 19, 88); }
.red-magenta { background-color: rgb(127, 0, 255); }
.light-red-magenta { background-color: rgb(191, 127, 255); }
.dark-red-magenta { background-color: rgb(82, 0, 165); }
.medium-red-magenta { background-color: rgb(124, 82, 165); }
.deep-red-magenta { background-color: rgb(63, 0, 127); }
.soft-red-magenta { background-color: rgb(95, 63, 127); }
.burnt-red-magenta { background-color: rgb(38, 0, 76); }
.brownish-red-magenta { background-color: rgb(57, 38, 126); }
.dark-burnt-red-magenta { background-color: rgb(19, 0, 38); }
.deep-brownish-red-magenta { background-color: rgb(28, 19, 88); }
.red-cyan { background-color: rgb(191, 0, 255); }
.light-red-cyan { background-color: rgb(223, 127, 255); }
.dark-red-cyan { background-color: rgb(124, 0, 165); }
.medium-red-cyan { background-color: rgb(145, 82, 165); }
.deep-red-cyan { background-color: rgb(95, 0, 127); }
.soft-red-cyan { background-color: rgb(111, 63, 127); }
.burnt-red-cyan { background-color: rgb(57, 0, 76); }
.brownish-red-cyan { background-color: rgb(66, 38, 76); }
.dark-burnt-red-cyan { background-color: rgb(28, 0, 38); }
.deep-brownish-red-cyan { background-color: rgb(88, 19, 88); }
.red-blue { background-color: rgb(255, 0, 255); }
.light-red-blue { background-color: rgb(255, 127, 255); }
.dark-red-blue { background-color: rgb(165, 0, 165); }
.medium-red-blue { background-color: rgb(165, 82, 165); }
.deep-red-blue { background-color: rgb(127, 0, 127); }
.soft-red-blue { background-color: rgb(127, 63, 127); }
.burnt-red-blue { background-color: rgb(76, 0, 76); }
.brownish-red-blue { background-color: rgb(76, 38, 76); }
.dark-burnt-red-blue { background-color: rgb(38, 0, 38); }
.deep-brownish-red-blue { background-color: rgb(88, 19, 88); }
.red-yellow { background-color: rgb(255, 0, 191); }
.light-red-yellow { background-color: rgb(255, 127, 223); }
.dark-red-yellow { background-color: rgb(165, 0, 124); }
.medium-red-yellow { background-color: rgb(165, 82, 145); }
.deep-red-yellow { background-color: rgb(127, 0, 95); }
.soft-red-yellow { background-color: rgb(127, 63, 111); }
.burnt-red-yellow { background-color: rgb(76, 0, 57); }
.brownish-red-yellow { background-color: rgb(76, 38, 66); }
.dark-burnt-red-yellow { background-color: rgb(38, 0, 28); }
.deep-brownish-red-yellow { background-color: rgb(88, 19, 88); }
.green-magenta { background-color: rgb(255, 0, 127); }
.light-green-magenta { background-color: rgb(255, 127, 191); }
.dark-green-magenta { background-color: rgb(165, 0, 82); }
.medium-green-magenta { background-color: rgb(165, 82, 124); }
.deep-green-magenta { background-color: rgb(127, 0, 63); }
.soft-green-magenta { background-color: rgb(127, 63, 95); }
.burnt-green-magenta { background-color: rgb(76, 0, 38); }
.brownish-green-magenta { background-color: rgb(76, 38, 57); }
.dark-burnt-green-magenta { background-color: rgb(38, 0, 19); }
.deep-brownish-green-magenta { background-color: rgb(88, 19, 28); }
.green-cyan { background-color: rgb(255, 0, 63); }
.light-green-cyan { background-color: rgb(255, 127, 159); }
.dark-green-cyan { background-color: rgb(165, 0, 41); }
.medium-green-cyan { background-color: rgb(165, 82, 103); }
.deep-green-cyan { background-color: rgb(127, 0, 31); }
.soft-green-cyan { background-color: rgb(127, 63, 79); }
.burnt-green-cyan { background-color: rgb(76, 0, 19); }
.brownish-green-cyan { background-color: rgb(76, 38, 47); }
.dark-burnt-green-cyan { background-color: rgb(38, 0, 9); }
.deep-brownish-green-cyan { background-color: rgb(88, 19, 23); }
.black { background-color: rgb(0, 0, 0); }
.dark-gray { background-color: rgb(101, 101, 101); }
.silver-gray { background-color: rgb(102, 102, 102); }
.medium-gray { background-color: rgb(153, 153, 153); }
.soft-gray { background-color: rgb(204, 204, 204); }
.snow-white { background-color: rgb(255, 255, 255); }
