.pink { background-color: rgb(255, 0, 191); }
.light-pink { background-color: rgb(255, 127, 223); }
.deep-pink { background-color: rgb(165, 0, 124); }
.mauve { background-color: rgb(165, 82, 145); }
.magenta { background-color: rgb(127, 0, 95); }
.dusty-rose { background-color: rgb(127, 63, 111); }
.crimson { background-color: rgb(153, 0, 76); }
.pale-mauve { background-color: rgb(191, 127, 153); }
.burgundy { background-color: rgb(102, 0, 51); }
.muted-plum { background-color: rgb(127, 89, 102); }
.fuchsia { background-color: rgb(255, 0, 127); }
.light-fuchsia { background-color: rgb(255, 127, 191); }
.deep-fuchsia { background-color: rgb(165, 0, 82); }
.orchid { background-color: rgb(165, 82, 124); }
.plum { background-color: rgb(127, 0, 63); }
.mauve-pink { background-color: rgb(127, 63, 95); }
.raspberry { background-color: rgb(153, 0, 76); }
.pale-orchid { background-color: rgb(191, 127, 153); }
.maroon { background-color: rgb(102, 0, 51); }
.muted-raspberry { background-color: rgb(127, 89, 102); }
.cyan { background-color: rgb(0, 255, 255); }
.pale-cyan { background-color: rgb(127, 255, 255); }
.teal { background-color: rgb(0, 165, 165); }
.sea-green { background-color: rgb(82, 165, 165); }
.deep-teal { background-color: rgb(0, 127, 127); }
.steel-blue { background-color: rgb(63, 127, 127); }
.turquoise { background-color: rgb(0, 153, 153); }
.pale-turquoise { background-color: rgb(127, 191, 191); }
.dark-teal { background-color: rgb(0, 102, 102); }
.muted-teal { background-color: rgb(89, 127, 127); }
.azure { background-color: rgb(0, 127, 255); }
.sky-blue { background-color: rgb(127, 191, 255); }
.royal-blue { background-color: rgb(0, 82, 165); }
.steel-blue { background-color: rgb(82, 124, 165); }
.navy-blue { background-color: rgb(0, 63, 127); }
.slate-blue { background-color: rgb(63, 95, 127); }
.midnight-blue { background-color: rgb(0, 38, 76); }
.indigo { background-color: rgb(38, 57, 126); }
.dark-navy { background-color: rgb(0, 19, 38); }
.deep-indigo { background-color: rgb(19, 28, 88); }