/* AutoCAD Color Index (ACI) colors */

.red { color: rgb(255, 0, 0); } /* ACI: 1 */
.yellow { color: rgb(255, 255, 0); } /* ACI: 2 */
.green { color: rgb(0, 255, 0); } /* ACI: 3 */
.cyan { color: rgb(0, 255, 255); } /* ACI: 4 */
.blue { color: rgb(0, 0, 255); } /* ACI: 5 */
.magenta { color: rgb(255, 0, 255); } /* ACI: 6 */
.white { color: rgb(255, 255, 255); } /* ACI: 7 */
.moderate-grey { color: rgb(128, 128, 128); } /* ACI: 8 */
.bright-grey { color: rgb(192, 192, 192); } /* ACI: 9 */
.red { color: rgb(255, 0, 0); } /* ACI: 10 */
.brilliant-red { color: rgb(255, 127, 127); } /* ACI: 11 */
.moderate-intense-red { color: rgb(165, 0, 0); } /* ACI: 12 */
.moderate-red { color: rgb(165, 82, 82); } /* ACI: 13 */
.medium-intense-red { color: rgb(127, 0, 0); } /* ACI: 14 */
.medium-red { color: rgb(127, 63, 63); } /* ACI: 15 */
.dark-intense-red { color: rgb(76, 0, 0); } /* ACI: 16 */
.dark-red { color: rgb(76, 38, 38); } /* ACI: 17 */
.darkest-intense-red { color: rgb(38, 0, 0); } /* ACI: 18 */
.darkest-red { color: rgb(38, 19, 19); } /* ACI: 19 */
.brilliant-intense-vermilion { color: rgb(255, 63, 0); } /* ACI: 20 */
.brilliant-vermilion { color: rgb(255, 159, 127); } /* ACI: 21 */
.moderate-intense-vermilion { color: rgb(165, 41, 0); } /* ACI: 22 */
.moderate-vermilion { color: rgb(165, 103, 82); } /* ACI: 23 */
.medium-intense-vermilion { color: rgb(127, 31, 0); } /* ACI: 24 */
.medium-vermilion { color: rgb(127, 79, 63); } /* ACI: 25 */
.dark-intense-vermilion { color: rgb(76, 19, 0); } /* ACI: 26 */
.dark-vermilion { color: rgb(76, 47, 38); } /* ACI: 27 */
.darkest-intense-vermilion { color: rgb(38, 9, 0); } /* ACI: 28 */
.darkest-vermilion { color: rgb(38, 23, 19); } /* ACI: 29 */
.brilliant-intense-orange { color: rgb(255, 127, 0); } /* ACI: 30 */
.brilliant-orange { color: rgb(255, 191, 127); } /* ACI: 31 */
.moderate-intense-orange { color: rgb(165, 82, 0); } /* ACI: 32 */
.moderate-orange { color: rgb(165, 124, 82); } /* ACI: 33 */
.medium-intense-orange { color: rgb(127, 63, 0); } /* ACI: 34 */
.medium-orange { color: rgb(127, 95, 63); } /* ACI: 35 */
.dark-intense-orange { color: rgb(76, 38, 0); } /* ACI: 36 */
.dark-orange { color: rgb(76, 57, 38); } /* ACI: 37 */
.darkest-intense-orange { color: rgb(38, 19, 0); } /* ACI: 38 */
.darkest-orange { color: rgb(38, 28, 19); } /* ACI: 39 */
.brilliant-intense-yellow { color: rgb(255, 191, 0); } /* ACI: 40 */
.brilliant-yellow { color: rgb(255, 223, 127); } /* ACI: 41 */
.moderate-intense-yellow { color: rgb(165, 124, 0); } /* ACI: 42 */
.moderate-yellow { color: rgb(165, 145, 82); } /* ACI: 43 */
.medium-intense-yellow { color: rgb(127, 95, 0); } /* ACI: 44 */
.medium-yellow { color: rgb(127, 111, 63); } /* ACI: 45 */
.dark-intense-yellow { color: rgb(76, 57, 0); } /* ACI: 46 */
.dark-yellow { color: rgb(76, 66, 38); } /* ACI: 47 */
.darkest-intense-yellow { color: rgb(38, 28, 0); } /* ACI: 48 */
.darkest-yellow { color: rgb(38, 33, 19); } /* ACI: 49 */
.yellow { color: rgb(255, 255, 0); } /* ACI: 50 */
.brilliant-yellow { color: rgb(255, 255, 127); } /* ACI: 51 */
.moderate-intense-yellow { color: rgb(165, 165, 0); } /* ACI: 52 */
.moderate-yellow { color: rgb(165, 165, 82); } /* ACI: 53 */
.medium-intense-yellow { color: rgb(127, 127, 0); } /* ACI: 54 */
.medium-yellow { color: rgb(127, 127, 63); } /* ACI: 55 */
.dark-intense-yellow { color: rgb(76, 76, 0); } /* ACI: 56 */
.dark-yellow { color: rgb(76, 76, 38); } /* ACI: 57 */
.darkest-intense-yellow { color: rgb(38, 38, 0); } /* ACI: 58 */
.darkest-yellow { color: rgb(38, 38, 19); } /* ACI: 59 */
.brilliant-intense-chartreuse { color: rgb(191, 255, 0); } /* ACI: 60 */
.brilliant-chartreuse { color: rgb(223, 255, 127); } /* ACI: 61 */
.moderate-intense-chartreuse { color: rgb(124, 165, 0); } /* ACI: 62 */
.moderate-chartreuse { color: rgb(145, 165, 82); } /* ACI: 63 */
.medium-intense-chartreuse { color: rgb(95, 127, 0); } /* ACI: 64 */
.medium-chartreuse { color: rgb(111, 127, 63); } /* ACI: 65 */
.dark-intense-chartreuse { color: rgb(57, 76, 0); } /* ACI: 66 */
.dark-chartreuse { color: rgb(66, 76, 38); } /* ACI: 67 */
.darkest-intense-chartreuse { color: rgb(28, 38, 0); } /* ACI: 68 */
.darkest-chartreuse { color: rgb(33, 38, 19); } /* ACI: 69 */
.brilliant-intense-green { color: rgb(127, 255, 0); } /* ACI: 70 */
.brilliant-green { color: rgb(191, 255, 127); } /* ACI: 71 */
.moderate-intense-green { color: rgb(82, 165, 0); } /* ACI: 72 */
.moderate-green { color: rgb(124, 165, 82); } /* ACI: 73 */
.medium-intense-green { color: rgb(63, 127, 0); } /* ACI: 74 */
.medium-green { color: rgb(95, 127, 63); } /* ACI: 75 */
.dark-intense-green { color: rgb(38, 76, 0); } /* ACI: 76 */
.dark-green { color: rgb(57, 76, 38); } /* ACI: 77 */
.darkest-intense-green { color: rgb(19, 38, 0); } /* ACI: 78 */
.darkest-green { color: rgb(28, 38, 19); } /* ACI: 79 */
.brilliant-intense-green { color: rgb(63, 255, 0); } /* ACI: 80 */
.brilliant-green { color: rgb(159, 255, 127); } /* ACI: 81 */
.moderate-intense-green { color: rgb(41, 165, 0); } /* ACI: 82 */
.moderate-green { color: rgb(103, 165, 82); } /* ACI: 83 */
.medium-intense-green { color: rgb(31, 127, 0); } /* ACI: 84 */
.medium-green { color: rgb(79, 127, 63); } /* ACI: 85 */
.dark-intense-green { color: rgb(19, 76, 0); } /* ACI: 86 */
.dark-green { color: rgb(47, 76, 38); } /* ACI: 87 */
.darkest-intense-green { color: rgb(9, 38, 0); } /* ACI: 88 */
.darkest-green { color: rgb(23, 38, 19); } /* ACI: 89 */
.green { color: rgb(0, 255, 0); } /* ACI: 90 */
.brilliant-green { color: rgb(127, 255, 127); } /* ACI: 91 */
.moderate-intense-green { color: rgb(0, 165, 0); } /* ACI: 92 */
.moderate-green { color: rgb(82, 165, 82); } /* ACI: 93 */
.medium-intense-green { color: rgb(0, 127, 0); } /* ACI: 94 */
.medium-green { color: rgb(63, 127, 63); } /* ACI: 95 */
.dark-intense-green { color: rgb(0, 76, 0); } /* ACI: 96 */
.dark-green { color: rgb(38, 76, 38); } /* ACI: 97 */
.darkest-intense-green { color: rgb(0, 38, 0); } /* ACI: 98 */
.darkest-green { color: rgb(19, 38, 19); } /* ACI: 99 */
.brilliant-intense-spring-green { color: rgb(0, 255, 63); } /* ACI: 100 */
.brilliant-spring-green { color: rgb(127, 255, 159); } /* ACI: 101 */
.moderate-intense-spring-green { color: rgb(0, 165, 41); } /* ACI: 102 */
.moderate-spring-green { color: rgb(82, 165, 103); } /* ACI: 103 */
.medium-intense-spring-green { color: rgb(0, 127, 31); } /* ACI: 104 */
.medium-spring-green { color: rgb(63, 127, 79); } /* ACI: 105 */
.dark-intense-spring-green { color: rgb(0, 76, 19); } /* ACI: 106 */
.dark-spring-green { color: rgb(38, 76, 47); } /* ACI: 107 */
.darkest-intense-spring-green { color: rgb(0, 38, 9); } /* ACI: 108 */
.darkest-spring-green { color: rgb(19, 38, 23); } /* ACI: 109 */
.brilliant-intense-spring-green { color: rgb(0, 255, 127); } /* ACI: 110 */
.brilliant-spring-green { color: rgb(127, 255, 191); } /* ACI: 111 */
.moderate-intense-spring-green { color: rgb(0, 165, 82); } /* ACI: 112 */
.moderate-spring-green { color: rgb(82, 165, 124); } /* ACI: 113 */
.medium-intense-spring-green { color: rgb(0, 127, 63); } /* ACI: 114 */
.medium-spring-green { color: rgb(63, 127, 95); } /* ACI: 115 */
.dark-intense-spring-green { color: rgb(0, 76, 38); } /* ACI: 116 */
.dark-spring-green { color: rgb(38, 76, 57); } /* ACI: 117 */
.darkest-intense-spring-green { color: rgb(0, 38, 19); } /* ACI: 118 */
.darkest-spring-green { color: rgb(19, 38, 28); } /* ACI: 119 */
.brilliant-intense-spring-green { color: rgb(0, 255, 191); } /* ACI: 120 */
.brilliant-spring-green { color: rgb(127, 255, 223); } /* ACI: 121 */
.moderate-intense-spring-green { color: rgb(0, 165, 124); } /* ACI: 122 */
.moderate-spring-green { color: rgb(82, 165, 145); } /* ACI: 123 */
.medium-intense-spring-green { color: rgb(0, 127, 95); } /* ACI: 124 */
.medium-spring-green { color: rgb(63, 127, 111); } /* ACI: 125 */
.dark-intense-spring-green { color: rgb(0, 76, 57); } /* ACI: 126 */
.dark-spring-green { color: rgb(38, 76, 66); } /* ACI: 127 */
.darkest-intense-spring-green { color: rgb(0, 38, 28); } /* ACI: 128 */
.darkest-spring-green { color: rgb(19, 38, 33); } /* ACI: 129 */
.cyan { color: rgb(0, 255, 255); } /* ACI: 130 */
.brilliant-cyan { color: rgb(127, 255, 255); } /* ACI: 131 */
.moderate-intense-cyan { color: rgb(0, 165, 165); } /* ACI: 132 */
.moderate-cyan { color: rgb(82, 165, 165); } /* ACI: 133 */
.medium-intense-cyan { color: rgb(0, 127, 127); } /* ACI: 134 */
.medium-cyan { color: rgb(63, 127, 127); } /* ACI: 135 */
.dark-intense-cyan { color: rgb(0, 76, 76); } /* ACI: 136 */
.dark-cyan { color: rgb(38, 76, 76); } /* ACI: 137 */
.darkest-intense-cyan { color: rgb(0, 38, 38); } /* ACI: 138 */
.darkest-cyan { color: rgb(19, 38, 38); } /* ACI: 139 */
.brilliant-intense-azure { color: rgb(0, 191, 255); } /* ACI: 140 */
.brilliant-azure { color: rgb(127, 223, 255); } /* ACI: 141 */
.moderate-intense-azure { color: rgb(0, 124, 165); } /* ACI: 142 */
.moderate-azure { color: rgb(82, 145, 165); } /* ACI: 143 */
.medium-intense-azure { color: rgb(0, 95, 127); } /* ACI: 144 */
.medium-azure { color: rgb(63, 111, 127); } /* ACI: 145 */
.dark-intense-azure { color: rgb(0, 57, 76); } /* ACI: 146 */
.dark-azure { color: rgb(38, 66, 76); } /* ACI: 147 */
.darkest-intense-azure { color: rgb(0, 28, 38); } /* ACI: 148 */
.darkest-azure { color: rgb(19, 33, 38); } /* ACI: 149 */
.brilliant-intense-blue { color: rgb(0, 127, 255); } /* ACI: 150 */
.brilliant-blue { color: rgb(127, 191, 255); } /* ACI: 151 */
.moderate-intense-blue { color: rgb(0, 82, 165); } /* ACI: 152 */
.moderate-blue { color: rgb(82, 124, 165); } /* ACI: 153 */
.medium-intense-blue { color: rgb(0, 63, 127); } /* ACI: 154 */
.medium-blue { color: rgb(63, 95, 127); } /* ACI: 155 */
.dark-intense-blue { color: rgb(0, 38, 76); } /* ACI: 156 */
.dark-blue { color: rgb(38, 57, 76); } /* ACI: 157 */
.darkest-intense-blue { color: rgb(0, 19, 38); } /* ACI: 158 */
.darkest-blue { color: rgb(19, 28, 38); } /* ACI: 159 */
.brilliant-intense-indigo { color: rgb(0, 63, 255); } /* ACI: 160 */
.brilliant-blue { color: rgb(127, 159, 255); } /* ACI: 161 */
.moderate-intense-indigo { color: rgb(0, 41, 165); } /* ACI: 162 */
.moderate-blue { color: rgb(82, 103, 165); } /* ACI: 163 */
.medium-intense-indigo { color: rgb(0, 31, 127); } /* ACI: 164 */
.medium-blue { color: rgb(63, 79, 127); } /* ACI: 165 */
.dark-intense-blue { color: rgb(0, 19, 76); } /* ACI: 166 */
.dark-indigo { color: rgb(38, 47, 76); } /* ACI: 167 */
.darkest-intense-indigo { color: rgb(0, 9, 38); } /* ACI: 168 */
.darkest-indigo { color: rgb(19, 23, 38); } /* ACI: 169 */
.blue { color: rgb(0, 0, 255); } /* ACI: 170 */
.brilliant-indigo { color: rgb(127, 127, 255); } /* ACI: 171 */
.moderate-intense-indigo { color: rgb(0, 0, 165); } /* ACI: 172 */
.moderate-indigo { color: rgb(82, 82, 165); } /* ACI: 173 */
.medium-intense-indigo { color: rgb(0, 0, 127); } /* ACI: 174 */
.medium-indigo { color: rgb(63, 63, 127); } /* ACI: 175 */
.dark-intense-indigo { color: rgb(0, 0, 76); } /* ACI: 176 */
.dark-indigo { color: rgb(38, 38, 76); } /* ACI: 177 */
.darkest-intense-indigo { color: rgb(0, 0, 38); } /* ACI: 178 */
.darkest-indigo { color: rgb(19, 19, 38); } /* ACI: 179 */
.brilliant-intense-violet { color: rgb(63, 0, 255); } /* ACI: 180 */
.brilliant-violet { color: rgb(159, 127, 255); } /* ACI: 181 */
.moderate-intense-violet { color: rgb(41, 0, 165); } /* ACI: 182 */
.moderate-violet { color: rgb(103, 82, 165); } /* ACI: 183 */
.medium-intense-violet { color: rgb(31, 0, 127); } /* ACI: 184 */
.medium-violet { color: rgb(79, 63, 127); } /* ACI: 185 */
.dark-intense-violet { color: rgb(19, 0, 76); } /* ACI: 186 */
.dark-violet { color: rgb(47, 38, 76); } /* ACI: 187 */
.darkest-intense-violet { color: rgb(9, 0, 38); } /* ACI: 188 */
.darkest-violet { color: rgb(23, 19, 38); } /* ACI: 189 */
.brilliant-intense-violet { color: rgb(127, 0, 255); } /* ACI: 190 */
.brilliant-violet { color: rgb(191, 127, 255); } /* ACI: 191 */
.moderate-intense-violet { color: rgb(82, 0, 165); } /* ACI: 192 */
.moderate-violet { color: rgb(124, 82, 165); } /* ACI: 193 */
.medium-intense-violet { color: rgb(63, 0, 127); } /* ACI: 194 */
.medium-violet { color: rgb(95, 63, 127); } /* ACI: 195 */
.dark-intense-violet { color: rgb(38, 0, 76); } /* ACI: 196 */
.dark-violet { color: rgb(57, 38, 76); } /* ACI: 197 */
.darkest-intense-violet { color: rgb(19, 0, 38); } /* ACI: 198 */
.darkest-violet { color: rgb(28, 19, 38); } /* ACI: 199 */
.brilliant-intense-violet { color: rgb(191, 0, 255); } /* ACI: 200 */
.brilliant-violet { color: rgb(223, 127, 255); } /* ACI: 201 */
.moderate-intense-violet { color: rgb(124, 0, 165); } /* ACI: 202 */
.moderate-violet { color: rgb(145, 82, 165); } /* ACI: 203 */
.medium-intense-violet { color: rgb(95, 0, 127); } /* ACI: 204 */
.medium-violet { color: rgb(111, 63, 127); } /* ACI: 205 */
.dark-intense-violet { color: rgb(57, 0, 76); } /* ACI: 206 */
.dark-violet { color: rgb(66, 38, 76); } /* ACI: 207 */
.darkest-intense-violet { color: rgb(28, 0, 38); } /* ACI: 208 */
.darkest-violet { color: rgb(33, 19, 38); } /* ACI: 209 */
.magenta { color: rgb(255, 0, 255); } /* ACI: 210 */
.brilliant-purple { color: rgb(255, 127, 255); } /* ACI: 211 */
.moderate-intense-purple { color: rgb(165, 0, 165); } /* ACI: 212 */
.moderate-purple { color: rgb(165, 82, 165); } /* ACI: 213 */
.medium-intense-purple { color: rgb(127, 0, 127); } /* ACI: 214 */
.medium-purple { color: rgb(127, 63, 127); } /* ACI: 215 */
.dark-intense-purple { color: rgb(76, 0, 76); } /* ACI: 216 */
.dark-purple { color: rgb(76, 38, 76); } /* ACI: 217 */
.darkest-intense-purple { color: rgb(38, 0, 38); } /* ACI: 218 */
.darkest-purple { color: rgb(38, 19, 38); } /* ACI: 219 */
.brilliant-intense-magenta { color: rgb(255, 0, 191); } /* ACI: 220 */
.brilliant-purple { color: rgb(255, 127, 223); } /* ACI: 221 */
.moderate-intense-purple { color: rgb(165, 0, 124); } /* ACI: 222 */
.moderate-purple { color: rgb(165, 82, 145); } /* ACI: 223 */
.medium-intense-magenta { color: rgb(127, 0, 95); } /* ACI: 224 */
.medium-purple { color: rgb(127, 63, 111); } /* ACI: 225 */
.dark-intense-purple { color: rgb(76, 0, 57); } /* ACI: 226 */
.dark-magenta { color: rgb(76, 38, 66); } /* ACI: 227 */
.darkest-intense-magenta { color: rgb(38, 0, 28); } /* ACI: 228 */
.darkest-magenta { color: rgb(38, 19, 33); } /* ACI: 229 */
.brilliant-intense-magenta { color: rgb(255, 0, 127); } /* ACI: 230 */
.brilliant-magenta { color: rgb(255, 127, 191); } /* ACI: 231 */
.moderate-intense-magenta { color: rgb(165, 0, 82); } /* ACI: 232 */
.moderate-magenta { color: rgb(165, 82, 124); } /* ACI: 233 */
.medium-intense-magenta { color: rgb(127, 0, 63); } /* ACI: 234 */
.medium-magenta { color: rgb(127, 63, 95); } /* ACI: 235 */
.dark-intense-magenta { color: rgb(76, 0, 38); } /* ACI: 236 */
.dark-magenta { color: rgb(76, 38, 57); } /* ACI: 237 */
.darkest-intense-magenta { color: rgb(38, 0, 19); } /* ACI: 238 */
.darkest-magenta { color: rgb(38, 19, 28); } /* ACI: 239 */
.brilliant-intense-rose { color: rgb(255, 0, 63); } /* ACI: 240 */
.brilliant-rose { color: rgb(255, 127, 159); } /* ACI: 241 */
.moderate-intense-rose { color: rgb(165, 0, 41); } /* ACI: 242 */
.moderate-rose { color: rgb(165, 82, 103); } /* ACI: 243 */
.medium-intense-rose { color: rgb(127, 0, 31); } /* ACI: 244 */
.medium-rose { color: rgb(127, 63, 79); } /* ACI: 245 */
.dark-intense-rose { color: rgb(76, 0, 19); } /* ACI: 246 */
.dark-rose { color: rgb(76, 38, 47); } /* ACI: 247 */
.darkest-intense-rose { color: rgb(38, 0, 9); } /* ACI: 248 */
.darkest-rose { color: rgb(38, 19, 23); } /* ACI: 249 */
.deep-grey { color: rgb(84, 84, 84); } /* ACI: 250 */
.medium-grey { color: rgb(118, 118, 118); } /* ACI: 251 */
.moderate-grey { color: rgb(152, 152, 152); } /* ACI: 252 */
.bright-grey { color: rgb(186, 186, 186); } /* ACI: 253 */
.pale-grey { color: rgb(220, 220, 220); } /* ACI: 254 */
.white { color: rgb(255, 255, 255); } /* ACI: 255 */
