python-dependency-injector
pydantic>=2.0.0,<3.0.0
PyYAML
loguru>=0.7.0,<0.8.0
typer[all]
ezdxf>=1.0.0,<2.0.0
pyshp
fiona>=1.8.0,<2.0.0
pyproj>=3.0.0,<4.0.0
shapely>=2.0.0,<3.0.0
asteval>=0.9.31,<0.10.0
